{% extends 'layouts/base.html.twig' %}

{% block title 'Changer le mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center"><i class="fa fa-user-o"></i>Changer le mot de passe</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" formnovalidate>Mettre à jour le mot de passe</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}
