{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier le compte utilisateur' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center"><i class="fa fa-user-o"></i>Modifier votre compte</h1>
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" formnovalidate>Appliquer les modifications</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}
