{{ form_start(form) }}
    {{ form_widget(form)}}
    <div class="mt-2 d-grid gap-2">
        <input class="btn btn-primary" type="submit" value="{{ submitButtonText | default('Accepter') }}" formnovalidate>
    </div>
{{ form_end(form) }}