{% extends 'layouts/base.html.twig' %}

{% block title 'Ça vous dit une nouvelle création' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Nouvelle création</h1>
            <p class="text-muted text-center">Ici vous pouvez publier uné création</p>
            {{ include('pins/_form.html.twig', {'submitButtonText': 'Créer'}) }}
        </div>
    </div>
{% endblock %}