{% extends 'layouts/base.html.twig' %}

{% block title pin.title ~ ' # Edition' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edition # {{ pin.title }} #</h1>
            {{ include('pins/_form.html.twig', {'submitButtonText': 'Editer'}) }}
        </div>
    </div>
    
{% endblock %}
