{% extends 'layouts/base.html.twig' %}

{% block title 'Vous avez ici toutes nos créations!' %}

{% block body %}

    <div class="p-5 mb-5 bg-light rounded-3">
      <div class="container-fluid py-5 text-center">
        <h1 class="display-1 fw-bold">{{ appName }}</h1>
        <p class="fs-4">Est l'endroit rêvé ou toutes vos créations prendront vies.</p>
        <a class="btn btn-primary btn-lg" type="button" href="#creation">Voir toutes nos créations</a>
      </div>
    </div>

    {% if pins|length > 0 %}
        {% for row in pins|batch(3) %}
            <div class="mb-5 row">
                    {% for pin in row %}
                        <div class="col-md-4 d-flex align-items-stretch">
                            <article class="pin bg-white rounded shadow" id="creation">
                                <div class="mw-100 overflow-hidden rounded-top">
                                     <a href="{{ path('app_pins_show', {slug: pin.slug}) }}">
                                        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) 
                                            : asset('build/images/placeholder.jpg')) | imagine_filter('image_taille_moyenne') }}" 
                                            alt="{{ pin.title }}" class="w-100" 
                                        >
                                     </a>
                                </div>
                                <h2 class="h5 ps-3 pt-3">
                                    <a href="{{ path('app_pins_show', {slug: pin.slug}) }}" class="text-secondary text-decoration-none text-break">
                                        {{ pin.title }}
                                    </a>
                                </h2>
                                <p class="ps-3 pb-3 text-muted"><small>Publié par {{ pin.user.fullName }}</small></p>

                                <!--Code pour suprimer des créaions directement dans lindex--> 
                                <!--<a href="#" onclick="event.preventDefault(); confirm('Etes vous sûr?') &&
                                        document.getElementById('js-pin-form-delete-{{ pin.id }}').submit();" class="m-3 btn btn-danger">
                                        &times; Supprimer
                                </a>
                                <form id="js-pin-form-delete-{{ pin.id }}" action="{{ path('app_pins_delete', {slug: pin.slug}) }}" method="POST" style="display: none;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id)}}">
                                </form>-->

                            </article>
                         </div>
                    {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-5 h1 text-center">
            Aucun création n'a été publiée pour le moment 
            <a href="{{ path('app_pins_create') }}">Soyez le premier à en créer!</a>
        </p>
    {% endif %}

    <div class="mt-3 d-flex justify-content-center">
        {% do pins.setPageRange(2) %}
        {{ knp_pagination_render(pins, 'layouts/pagination.html.twig') }}
    </div> 
    
{% endblock %}
