{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 overflow-hidden rounded-top">
					<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('image_taille_moyenne') }}" alt="{{ pin.title }}" class="w-100">
				</div>
				<div class="p-3">
					<h1 class="h5 text-secondary text-break">
					    {{ pin.title | nl2br }}
					</h1>
					<p class="text-muted">
						<small>
							Publié <time datetime="{{ pin.createdAt|date('d-m-Y H:i:s')}}">{{ pin.createdAt|ago }}</time> par {{ pin.user.fullName }}
						</small>
					</p>
					<p class="pt-3 text-break">
						{{ pin.description | nl2br }}
					</p>
					{% if is_granted('PIN_MANAGE', pin) %}
						<div class="pt-3">
							<a href="{{ path('app_pins_edit', {slug: pin.slug}) }}" class="btn btn-outline-primary">Mettre à jour</a>
							<a href="#" onclick="event.preventDefault(); confirm('Etes vous sûr?') &&
									document.getElementById('js-pin-form-delete').submit();" class="btn btn-outline-primary">
									Supprimer
							</a>
							<form id="js-pin-form-delete" action="{{ path('app_pins_delete', {slug: pin.slug}) }}" method="POST" style="display: none;">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id)}}">
							</form> 
						</div>
					{% endif %}
				</div>
			</article>
		</div>
	</div>
{% endblock %}
