{% extends 'layouts/base.html.twig' %}

{% block title 'Réinitialisez votre mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Réinitialisez votre mot de passe</h1>
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-warning mb-3 rounded" role="alert">{{ flashError }}</div>
            {% endfor %}
                <div>
                    <p class="mb-5 text-center text-muted">
                        Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                    </p>
                </div>
            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div class="mt-2 d-grid gap-2">
                    <button class="btn btn-primary btn-lg" type="submit">Envoyer un e-mail de réinitialisation de mot de passe</button>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
