<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ appName }} - {% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('layouts/partials/_nav.html.twig') }}
        {{ include('layouts/partials/_flash_messages.html.twig') }}
        <main role="main">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        {{ include('layouts/partials/_footer.html.twig') }}
    </body>
</html>
