<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Built with <span class="text-danger">&hearts;</span> by 
            <a href="https://parlonscode.com" target="_blank">
                Parlons Code
            </a>
        </small>
    </p>
</footer>