<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3" aria-label="Third navbar example">
    <div class="container py-3">
      <a href="{{ path('app_home') }}" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" viewBox="0 0 24 24" fill="none" stroke="#1c45eb" stroke-width="4" stroke-linecap="square" stroke-linejoin="bevel">
            <polyline points="4 7 4 4 20 4 20 7"></polyline>
            <line x1="9" y1="20" x2="15" y2="20"></line>
            <line x1="12" y1="4" x2="12" y2="20"></line></svg>
        <span class="fs-1">obliKaDjate</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <li class="nav-item">
            {% if app.user %}
              <a class="nav-link
                {% if current_menu is defined and current_menu == 'new' %}
                    active
                {% endif %}"
                aria-current="page" href="{{ path('app_pins_create') }}">
                Nouvelle création
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link
                  {% if current_menu is defined and current_menu == 'account' %}
                      active
                  {% endif %}" 
                  aria-current="page" href="{{ path('app_account') }}">
                  Mon compte
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="event.preventDefault(); 
                document.getElementById('js-logout-form').submit();">
                  Se déconnecter
                </a>
              </li>

              <!-- directement à travers le lien (methods={"GET"}) au controller SecurityController.php
                <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}?_csrf_token={{ csrf_token('logout') }}" 
                  Se déconnecter
                </a>
              </li>
              --> 

              <!-- avec la fonction twig logout_path en passant le firewalls main (methods={"GET"}) au controller SecurityController.php
                <li class="nav-item">
                <a class="nav-link" href="{{ logout_path('main') }}" 
                  Se déconnecter
                </a>
              </li>
              --> 

              <!-- avec la fonction twig logout_url pour avoir le chemin complet en passant le firewalls main (methods={"GET"}) au controller SecurityController.php
                <li class="nav-item">
                <a class="nav-link" href="{{ logout_url('main') }}" 
                  Se déconnecter
                </a>
              </li>
              --> 

              <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
              </form>

              <!-- Ajout comme paramètre (methods={"GET"}) au controller SecurityController.php
                   <form id="js-logout-form" 
                    action="{{ path('app_logout') }}?_csrf_token={{ csrf_token('logout') }}" 
                    method="POST" style="display: none">
                   </form>
              --> 

            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>