@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "shared/variables";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $primary-font, sans-serif;
}

.vich-image {

    .form-check {
        @extend .mt-2, .mb-2
    }
    
    img {

        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
    }
}

.form-group > label {
    @extend .mt-2, .mb-2
}

.pin img {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}

