{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'a pas pu être localisée <a href="{{ path('app_home') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}