{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Oops! Une erreur s'est produite</h1>
    <h2>Le serveur a renvoyé un "403 interdit".</h2>
    <p>
        Quelque chose est cassé. 
        S'il vous plaît laissez-nous savoir ce que vous faisiez lorsque cette erreur s'est produite. 
        Nous allons le réparer dès que possible. Désolé pour tout inconvénient causé.
        <a href="{{ path('app_home') }}">Retourner à la page d'accueil</a>.
    </p>
{% endblock %}